*{
	margin:0;
	padding:0;
}
body{
	background-color:#0001;
}
.container-profile{
width: 80%;
height: 80vh;
margin:10%; auto;
background: #F5F5F5;
box-shadow: 30px 30px 4px rgba(0, 0, 0, 0.2);
border-radius: 20px;
display:flex;
justify-content:space-evenly;
border:dotted 3px;
}

.container-profile .ctn-left{
	width:25%;
	height:80vh;
	border-radius: 5%;
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
	align-items:center;

}
.ctn-left .ctn-profile{
	background-image:url('img/user.jpg');
	background-size:contain;
	width:40%;
	height:15vh;
	border-radius:50%;
}
.ctn-left .ctn-menu{
	width:80%;
	height:40vh;
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
	align-items:center;
	box-shadow: 10px 10px 5px #0001;
}
.ctn-menu button{
	cursor: pointer;
	border-style:none;
}

 .ctn-menu .container-icono1,
 		   .container-icono4{
 	width:90%;
 	height:8.5vh;
 	text-align:center;


 }
  .ctn-menu .container-icono2,
  			.container-icono3{
 	width:90%;
 	height:8.5vh;
 	align-items: baseline;
 	text-align:center;
 	letter-spacing: 10px;


 }

.container-profile .ctn-center{
	width:40%;
	height:80vh;
	border-radius: 5%;
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
	align-items:center;

}
.ctn-center .text-profile{
	color:whitesmoke;
	font-family: Roboto;
	font-style: italic;
	margin-left:-70%;
	margin-top:1%;
	color:gray;
}

.ctn-center .ctn-form{
	background: #F5F5F5;
	width:90%;
	height:65vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	opacity: 0.7;
	border: 10px none #222222;
	box-shadow: 8px 8px 15px #111; 

}

.ctn-form label,
		 .label-textArea {
	font-family: Roboto;
	font-style: italic;
	font-size:12px;
	font-weight:bold;
	margin-left:2%;
	color:#222;
}
.ctn-form input {
	background-color:#222;
	width:70%;
	text-align:center;
	margin-left:10%;
	margin-bottom:15%;
	opacity:0.4;
	color:whitesmoke;

	border-radius:5px;
	border-style:none;


}
.ctn-form .ctn-txtarea{
	width:100%;
	height:12vh;
	margin-top:-10px;
	display:flex;
	margin-bottom:10px;
}
.ctn-txtarea h3{
	margin-top:10px;
}
.ctn-form textarea {
	background-color:#222;
	width:60%;
	height:10vh;
	margin-left:10%;
	opacity:0.4;
	color:whitesmoke;
	border-radius:5px;
	border-style:none;


}

.ctn-btn{
	width:100%;
	height:10vh;
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin-top:20%;

}


.ctn-btn .btn-save{
	background-color:#ADADD0;
	width:35%;
	height:5vh;
	border-radius: 5px;
	border-style:none;

}
.btn-save h4 {
	color:#222;
}
.btn-save:hover {
	background-color:whitesmoke;
	cursor: pointer;
	border:solid 2px #ADADD0;
}
.btn-save h4:hover {
	color:#223;
}
.ctn-btn .btn-cancel{
	background-color:#223;
	width:30%;
	height:5vh;
	border-radius: 5px;
	border-style:none;
}

.btn-cancel h4 {
	color:whitesmoke;
}

.btn-cancel:hover {
	background-color:whitesmoke;
	cursor: pointer;
	border:solid 2px;
}
.btn-cancel h4:hover {
	color:#223;
}


.container-profile .ctn-right{
	width:30%;
	height:80vh;
	border-radius: 5%;
	display:flex;
	flex-direction:column;
}

.ctn-photos{
	background-color:#0001;
	width:90%;
	height:80px;
	margin:10% auto;
	display:flex;
	flex-flow:row wrap;
	justify-content:space-evenly;
	border-radius:5px;

}
.ctn-photos a {
	width:30%;
	margin-top:2%;
	border-radius:5px;
	border-style:none;
	cursor:pointer;
	list-style:none;
}
.ctn-photos a img{
	width:80%;
	height:6vh;
	margin-top:2%;
	border-radius:5px;
	border-style:none;
	cursor:pointer;
}

.ctn-search{
	background-color:whitesmoke;
	width:90%;
	height:20px;
	margin:35% auto;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	border-radius: 5px;
	border-style: none;
}
.ctn-search input {
	width:70%;
	height:3.5vh;
	text-align:center;
	border-radius: 5px;
	border-style: none;
}